@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");

body {
    margin: 0;
    font-family: variables.$default-font-family;
    color: #222;
    height: 30rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}
